.piece {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: 100%;
}

.bK {
    background-image: url('http://localhost:3000/img/bk.png');
}

.bQ {
    background-image: url('http://localhost:3000/img/bq.png');
}

.bB {
    background-image: url('http://localhost:3000/img/bb.png');
}

.bN {
    background-image: url('http://localhost:3000/img/bn.png');
}

.bR {
    background-image: url('http://localhost:3000/img/br.png');
}

.bP {
    background-image: url('http://localhost:3000/img/bp.png');
}

.wK {
    background-image: url('http://localhost:3000/img/wk.png');
}

.wQ {
    background-image: url('http://localhost:3000/img/wq.png');
}

.wB {
    background-image: url('http://localhost:3000/img/wb.png');
}

.wN {
    background-image: url('http://localhost:3000/img/wn.png');
}

.wR {
    background-image: url('http://localhost:3000/img/wr.png');
}

.wP {
    background-image: url('http://localhost:3000/img/wp.png');
}
